// media query starts

@media only screen and (max-width: 1274px) {
    .about-section {
        .about-content {
            .ac-right {
                h6 {
                    font-size: 0.8rem;
                }

                h5 {
                    font-size: 1.3rem;
                }

                button {
                    font-size: 0.6rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 1250px) {
    .banner {
        .banner-content {
            h2 {
                font-size: 5.5rem;
            }
        }
    }

    .about-section {
        .about-content {
            .ac-right {
                button {
                    padding: 0.4rem 0.5rem;
                }
            }
        }
    }

    .works-section {
        .project-l {
            .p-right {
                width: 40%;
            }
        }

        .project-r {
            .p-left {
                width: 40%;
            }
        }
        .project {
            h4 {
                font-size: 0.9rem;
            }
            p {
                font-size: 0.7rem;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .banner {
        .banner-content {
            h2 {
                font-size: 5rem;
                font-weight: 650;
            }
        }
    }

    .about-section {
        .about-content {
            .ac-left {
                display: flex;
                align-items: center;
            }
            .ac-right {
                h6 {
                    font-size: 0.7rem;
                }

                h5 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 0.7rem;
                    line-height: 1.05rem;
                    margin: 0.4rem 0;
                }

                .ac-detail {
                    .acd {
                        .acd-custom {
                            font-size: 0.7rem;
                        }
                        p {
                            font-size: 0.6rem;
                        }
                        a {
                            padding-top: 0.55rem;
                            font-size: 0.6rem;
                        }
                    }
                }

                h4 {
                    font-size: 0.95rem;
                }

                button {
                    font-size: 0.55rem;
                    padding: 0.4rem 0.6rem;
                }
            }
        }
    }

    .works-section {
        .project-l {
            .p-left {
                display: flex;
                align-items: center;
            }
        }

        .project-r {
            .p-right {
                display: flex;
                align-items: center;
            }
        }

        .project {
            h4 {
                padding-top: 0;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .banner {
        .banner-content {
            h2 {
                font-size: 4.5rem;
                letter-spacing: 0.2rem;
            }
        }
    }

    .about-section {
        .about-content {
            .ac-right {
                h4 {
                    font-size: 0.9rem;
                }

                button {
                    padding: 0.4rem 0.5rem;
                }
            }
        }
    }

    .works-section {
        .project {
            p {
                font-size: 0.65rem;
            }

            h4 {
                font-size: 0.8rem;
            }

            ul {
                li {
                    font-size: 0.5rem;

                    i {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1032px) {
    .about-section {
        .about-content {
            .ac-right {
                button {
                    padding: 0.4rem;
                }
            }
        }
    }

    .contact-section {
        form {
            input[type="text"],
            input[type="email"] {
                padding: 0 0.5rem;
            }

            textarea {
                padding-top: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .inner {
        width: 90%;
    }

    nav {
        .navbar {
            .n-right {
                ul {
                    padding-top: 0;
                    li {
                        a {
                            font-size: 0.5rem;
                        }
                    }
                }
            }
        }
    }

    .left-sidebar {
        position: absolute;
        left: 0.5rem;
        bottom: 5.5rem;
        position: fixed;
        font-size: 0.8rem;

        a {
            margin-top: 0.8rem;
        }

        hr {
            position: absolute;
            left: -4.2rem;
            position: fixed;
        }
    }

    .right-sidebar {
        position: absolute;
        bottom: 5.5rem;
        right: -9.6rem;
        position: fixed;

        a {
            font-size: 0.6rem;
            padding-top: 0.1rem;
            margin-right: 0.3rem;
        }
    }
}

@media only screen and (max-width: 950px) {
    nav {
        .navbar {
            .n-right {
                ul {
                    li {
                        padding-left: 1.5rem;
                    }
                }
            }
        }
    }

    .about-section {
        .as-main {
            h4 {
                font-size: 1.1rem;
            }

            hr {
                width: 20%;
                position: absolute;
                left: 8.8rem;
            }
        }

        .about-content {
            .ac-right {
                h5 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.65rem;
                    line-height: 0.9rem;
                    margin: 0.5rem 0;
                }

                button {
                    padding: 0.4rem 0.3rem;
                }
            }
        }
    }

    .works-section {
        .ws-main {
            h4 {
                font-size: 1.1rem;
            }

            hr {
                width: 20%;
                position: absolute;
                left: 16rem;
            }
        }

        .project {
            a {
                font-size: 0.8rem;
            }
        }
    }

    .contact-section {
        .cs-main {
            h4 {
                font-size: 1.1rem;
            }

            hr {
                width: 20%;
                position: absolute;
                left: 10rem;
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .about-section {
        .about-content {
            .ac-right {
                .ac-detail {
                    .acd {
                        .acd-custom {
                            font-size: 0.6rem;
                        }

                        p,
                        a {
                            font-size: 0.55rem;
                        }
                    }

                    .custom-post2 {
                        position: absolute;
                        right: -0.5rem;
                        top: 1.8rem;
                    }
                }

                button {
                    padding: 0.3rem;
                    margin-right: 0.25rem;
                }
            }
        }
    }

    .works-section {
        .project-l {
            .p-left {
                width: 55%;

                img {
                    width: 100%;
                }
            }

            .p-right {
                width: 43%;
            }
        }

        .project-r {
            .p-left {
                width: 43%;
            }

            .p-right {
                width: 55%;

                img {
                    width: 100%;
                }
            }
        }

        .project {
            margin-bottom: 2rem;
        }
    }
}

@media only screen and (max-width: 850px) {
    .about-section {
        .about-content {
            .ac-left {
                .acl-content {
                    img {
                        width: 90%;
                        height: 15rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .inner {
        width: 95%;
    }

    nav {
        .navbar {
            .n-right {
                ul {
                    padding: 0;
                    margin: 0;
                    transition: 1s ease;
                    background-color: #102941;
                    height: 100vh;
                    width: 35%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: -300px;
                    z-index: -100;

                    li {
                        font-size: 2rem;
                        margin: 0;
                        padding: 0;

                        a {
                            font-weight: 800;
                        }
                    }
                }

                .menu-bar {
                    display: block;

                    padding-top: 0.4rem;
                    cursor: pointer;

                    .bar {
                        height: 4px;
                        background-color: #949caf;
                        border-radius: 20px;
                        transition: 0.5s ease;
                    }

                    #bar1 {
                        transform: translateY(-5px);
                        width: 38px;
                    }
                    #bar2 {
                        width: 30px;
                    }

                    #bar3 {
                        transform: translateY(5px);
                        width: 22px;
                    }
                }

                .icon {
                    #bar1 {
                        width: 32px;
                        transform: translateY(3px) rotate(45deg);
                        background-color: rgb(0, 255, 255);
                    }

                    #bar2 {
                        opacity: 0;
                    }

                    #bar3 {
                        width: 32px;
                        transform: translateY(-3px) rotate(-45deg);
                        background-color: rgb(0, 255, 255);
                    }
                }

                .change-ul {
                    position: absolute;
                    right: 0;
                }
            }
        }
    }

    .about-section {
        .about-content {
            .ac-left {
                width: 100%;
                display: flex;
                justify-content: center;

                .acl-content {
                    img {
                        width: 100%;
                        height: 17rem;
                    }
                }
            }

            .ac-right {
                width: 100%;

                h6 {
                    font-size: 1rem;
                }

                h5 {
                    font-size: 1.5rem;
                }

                p {
                    margin: 0.5rem 0;
                    font-size: 0.75rem;
                    font-weight: 500;
                    line-height: 1.1rem;
                }

                .ac-detail {
                    .acd {
                        .acd-custom {
                            margin-right: 0.2rem;
                            font-size: 0.75rem;
                        }

                        p {
                            font-size: 0.7rem;
                        }

                        a {
                            font-size: 0.7rem;
                            padding-top: 0.6rem;
                        }
                    }

                    .custom-post2 {
                        position: absolute;
                        right: 0;
                        top: 2rem;
                    }
                }

                h4 {
                    padding-bottom: 0.2rem;
                    margin-bottom: 1rem;
                }

                button {
                    font-size: 0.6rem;
                    padding: 0.4rem 0.7rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .works-section {
        .project-l {
            .p-left {
                width: 100%;

                img {
                    width: 97%;
                }
            }

            .p-right {
                width: 100%;
            }
        }

        .project-r {
            display: flex;
            flex-direction: column-reverse;

            .p-left {
                width: 100%;
            }

            .p-right {
                width: 100%;

                img {
                    width: 97%;
                }
            }
        }

        .project {
            margin-bottom: 3rem;

            h4 {
                font-size: 0.8rem;
                margin-top: 0.5rem;
            }

            p {
                font-size: 0.8rem;
            }

            ul {
                li {
                    font-size: 0.6rem;

                    i {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .contact-section {
        margin-bottom: 2rem;

        form {
            width: 95%;
            margin: 0;
        }
    }

    .left-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        position: initial;
        display: block;
        margin-bottom: 0.5rem;

        a {
            margin: 0 1.5rem;
            text-align: center;
        }

        hr {
            display: none;
        }
    }

    .right-sidebar {
        display: none;

        hr {
            display: none;
        }
    }
}

@media only screen and (max-width: 650px) {
    .about-section {
        .about-content {
            .ac-right {
                button {
                    margin-right: 0.4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .banner {
        .banner-content {
            h2 {
                font-size: 4rem;
            }
        }
    }

    .about-section {
        .about-content {
            .ac-right {
                button {
                    padding: 0.4rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .banner {
        .banner-content {
            h3 {
                font-size: 1.2rem;
            }

            h2 {
                font-size: 3rem;
            }

            h4 {
                font-size: 0.7rem;
            }

            a {
                font-size: 0.7rem;
            }
        }
    }

    .about-section {
        .as-main {
            h4 {
                font-size: 1rem;
            }

            hr {
                position: absolute;
                left: 8rem;
            }
        }

        .about-content {
            .ac-left {
                .acl-content {
                    .ac-button {
                        a {
                            font-size: 0.7rem;
                        }
                    }
                }
            }

            .ac-right {
                h5 {
                    font-size: 1.2rem;
                }

                .ac-detail {
                    .custom-post,
                    .custom-post2 {
                        position: relative;
                        top: 0;
                    }
                }

                button {
                    padding: 0.4rem 0.6rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }

    .works-section {
        .ws-main {
            h4 {
                font-size: 1rem;
            }

            hr {
                position: absolute;
                left: 14.5rem;
            }
        }
    }

    .contact-section {
        .cs-main {
            h4 {
                font-size: 1rem;
            }

            hr {
                position: absolute;
                left: 9.2rem;
            }
        }

        form {
            input[type="submit"] {
                font-size: 0.5rem;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .about-section {
        .as-main {
            h4 {
                font-size: 0.8rem;
            }

            hr {
                position: absolute;
                left: 7rem;
            }
        }

        .about-content {
            .ac-right {
                h6 {
                    font-size: 0.8rem;
                }

                h5 {
                    font-size: 1rem;
                }

                p {
                    line-height: 1rem;
                    font-size: 0.7rem;
                }

                .ac-detail {
                    .acd {
                        .acd-custom {
                            font-size: 0.7rem;
                        }

                        p {
                            font-size: 0.6rem;
                        }

                        a {
                            font-size: 0.6rem;
                        }
                    }
                }

                button {
                    font-size: 0.5rem;
                    padding: 0.4rem 0.6rem;
                    margin-right: 0.3rem;
                }
            }
        }
    }

    .works-section {
        .ws-main {
            h4 {
                font-size: 0.8rem;
            }

            hr {
                position: absolute;
                left: 12.2rem;
            }
        }

        .project {
            margin-bottom: 2rem;
        }
    }

    .contact-section {
        .cs-main {
            h4 {
                font-size: 0.8rem;
            }

            hr {
                position: absolute;
                left: 8rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    nav {
        .navbar {
            .n-left {
                h3 {
                    font-size: 0.8rem;
                }
            }

            .n-right {
                ul {
                    width: 50%;
                }
                .menu-bar {
                    .bar {
                        height: 3px;
                    }
                }
            }
        }
    }

    .banner {
        .banner-content {
            h3 {
                font-size: 1rem;
            }

            h2 {
                font-size: 2.5rem;
            }

            h4 {
                font-size: 0.6rem;
                margin-bottom: 1rem;
            }

            a {
                font-size: 0.6rem;
            }
        }
    }

    .about-section {
        .as-main {
            h4 {
                font-size: 1rem;
            }

            hr {
                position: absolute;
                left: 8rem;
            }
        }

        .about-content {
            .ac-left {
                .acl-content {
                    .ac-button {
                        a {
                            font-size: 0.6rem;
                        }
                    }
                }
            }

            .ac-right {
                h6 {
                    font-size: 0.7rem;
                }

                h5 {
                    font-size: 0.8rem;
                }

                p {
                    line-height: 0.9rem;
                    font-size: 0.6rem;
                }

                .ac-detail {
                    .acd {
                        .acd-custom {
                            font-size: 0.6rem;
                        }

                        p {
                            font-size: 0.53rem;
                        }

                        a {
                            font-size: 0.53rem;
                        }
                    }
                }

                h4 {
                    font-size: 0.8rem;
                }

                button {
                    font-size: 0.5rem;
                    padding: 0.4rem 0.6rem;
                    margin-right: 0.3rem;
                }
            }
        }
    }

    .works-section {
        .project {
            h4 {
                font-size: 0.75rem;
            }

            p {
                font-size: 0.7rem;
            }

            ul {
                li {
                    font-size: 0.55rem;
                }
            }
        }
    }

    .contact-section {
        form {
            input[type="submit"] {
                font-size: 0.45rem;
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    nav {
        .navbar {
            .n-right {
                ul {
                    width: 100%;
                    position: absolute;
                    right: -500px;
                }
            }
        }
    }

    .banner {
        .banner-content {
            h3 {
                font-size: 0.9rem;
            }

            h2 {
                font-size: 2.3rem;
            }
        }
    }

    .about-section {
        .as-main {
            h5 {
                font-size: 0.9rem;
            }
            h4 {
                font-size: 0.9rem;
            }

            hr {
                position: absolute;
                left: 7.3rem;
            }
        }

        .about-content {
            .ac-left {
                .acl-content {
                    img {
                        width: 92%;
                        height: 13rem;
                    }
                }
            }

            .ac-right {
                .ac-detail {
                    .acd {
                        .acd-custom {
                            font-size: 0.6rem;
                        }

                        .custom-media-p {
                            width: 70%;
                            line-height: 0.8rem;
                        }
                    }
                }

                button {
                    padding: 0.4rem;
                    margin-right: 0rem;
                }
            }
        }
    }

    .works-section {
        .ws-main {
            h5 {
                font-size: 0.8rem;
            }
            h4 {
                font-size: 0.8rem;
            }
            hr {
                display: none;
            }
        }
    }

    .contact-section {
        .cs-main {
            h5 {
                font-size: 0.8rem;
            }
            h4 {
                font-size: 0.8rem;
            }
        }
        form {
            width: 90%;
            margin: 0;

            input[type="text"]{
                margin-bottom: 0.5rem;
                padding: 0 0.5rem;
            }

            input[type="email"]{
                margin-bottom: 0.5rem;
                padding: 0 0.5rem;
            }
            
            textarea{
                height: 5rem;
            }
        }
    }

    .left-sidebar{
        a{
            margin: 0 1rem;
        }
    }

    footer{
        h5{
            font-size: 0.5rem;
        }
    }
}
